@page
@model BeSpokedBikes.Pages.DiscountPage.IndexModel

@{
    ViewData["Title"] = "Discounts";
}

<h1>Discounts</h1>

<p>
    <a asp-page="Create">Add New Discount</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discount[0].BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount[0].DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Discount) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
