@page
@model BeSpokedBikes.Pages.SalesPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales.Product)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales.SalesPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales.SalesPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales.SalesDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales.SalesDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales.Commission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales.Commission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sales.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sales.Customer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sales.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
