@page
@model BeSpokedBikes.Pages.SalesPage.IndexModel

@{
    ViewData["Title"] = "Sales";
}

<h1>Sales</h1>

<p>
    <a asp-page="Create">Add New Sale</a>
</p>
<p>
    <form>
        <p>
            <!--
                The Input Tag Helper binds an HTML <input> element to a model expression in your razor view.
                Form Tag Helper: When the form is submitted, the filter string is sent to the Pages/Sales/Index page via query string.
            -->
            From: <input type = "text" placeholder="1/1/2000" asp-for=FilterStartDate/>
            To: <input type = "text" placeholder="1/1/2000" asp-for=FilterEndDate/>
            <input type ="submit" value = "Filter" />
        </p>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].SalesPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].SalesDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPerson)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
